#alert_box
{
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid black;
}

.success
{
	background-color: lightgreen;
}

.fail
{
	background-color: #9E1C00;
	color: white;
}